.cardContainer {
  width: 600px;
  height: 200px;
  margin: 16px;
  display: flex;
  cursor: default;
}

.cardImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 16px;
}

.cardTitle,
.cardDescription {
  width: 14vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardInfo {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardPrice {
  margin-top: 16px;
  font-weight: bold;
}

.removeText {
  cursor: pointer;
  text-decoration: underline;
}
