/* MainCard.module.css */

.cardContainer {
  width: 300px;
  height: 400px;
  margin: 24px;
  cursor: default;
}

.cardImage {
  width: 300px;
  height: 200px;
  object-fit: contain;
  padding: 16px;
  cursor: pointer;
}

.cardTitle {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
